.bg-color{
  background-color: #EE4547;
}

body{
  color: #FEFEFE;
  display: grid;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.title{
  align: center;
  margin-bottom: 50px;
  font-weight: 900;
}

.spinner{
  align: left;
}

.content{
  margin-top: 50px;
  font-weight: 900;
}
